{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div>
            <h1><i>change your password</i></h1>
        </div><br>
        <div class="row">
            <div class="column2">
                <div class="form-group">
                    <input class="form-control" name="current_password" placeholder="Current password" type="password" required>
                </div>
                <div class="form-group">
                    <input class="form-control" name="new_password" placeholder="New password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                </div>
                <div class="form-group">
                    <input class="form-control" name="new_confirmation" placeholder="Confirm new password" type="password" required>
                </div>
            </div>
            <div class="column2 left_text">
                <h5>Password must contain the following:</h5>
                <ul>
                    <li>A lowercase letter</li>
                    <li>An uppercase letter</li>
                    <li>A number</li>
                    <li>At least 8 characters</li>
                </ul>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock %}
