{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
    <h1><i>sign up</i></h1>
    <form action="/signup" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm password" type="password" required>
        </div>
        <div class="password_reqs">
            <h4>Password must contain the following:</h4><br>
            <p>A lowercase letter</p>
            <p>An uppercase letter</p>
            <p>A number</p>
            <p>At least 8 characters</p>
        </div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
{% endblock %}
